* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --primary: #351a88;
  --dark-background: #161730;
  --secondary: #3c6dd9;
  --accent: #ff888f;
  --light-background: #ffffff;
  --first-text: #000000;
  --second-text: #5c5c5c;
  --light-blue: #5972fc;
  --linear-gradient: linear-gradient(120deg, #351a88 0%, #ff6654 30%);
}
html {
  scroll-padding-top: 40px; /* Ajuste este valor de acordo com a altura da sua navbar */
}


body {
  background-color: var(--dark-background);
  color: var(--light-background);
}

.navbar .nav-item {
  margin: 0 30px; /* Aumenta o espaço entre os nav-items */
}

.navbar .nav-link {
  color: var(--primary);
  font-size: 1.2rem; /* Aumenta a fonte da navbar */
  transition: color 0.3s ease, transform 0.3s ease; /* Adiciona uma transição suave para cor e transformação */
}

.navbar .nav-link:hover {
  color: var(--secondary);
  transform: scale(1.1); /* Aumenta levemente o link ao passar o mouse */
}

.navbar {
  background-color: transparent;
  width: 100%;
  z-index: 10;
}

.navbar.scrolled {
backdrop-filter: blur(40px);
background-color: rgba(22, 23, 48, 0.2); /* Adjust the color and opacity as needed */
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.hero {
  min-height: 100vh;
  padding: 50px 0;
  padding-bottom: 100px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--light-background);
  position: relative;
  overflow: hidden;
}


.hero-image {
  box-shadow: 30px 0px 100px rgba(255, 136, 143, 0.5),
    -30px 0px 100px rgba(60, 109, 217, 0.5);
}

/* Responsividade no hero */
.hero .row {
  flex-wrap: wrap;
}

.hero-title {
  font-size: 2rem; /* Ajuste para telas menores */
}

.typing-container {
  font-size: 1.5rem; /* Redução do tamanho em dispositivos móveis */
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 1.8rem;
  }

  .hero .lead {
    font-size: 1rem;
  }

  .hero-image {
    max-width: 150px;
  }
}


.typing-container {
  display: inline;
  font-family: monospace;
  font-size: 3rem;
  color: var(--light-background);
  position: relative;
}

.typing-container::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 1.5rem;
  background: var(--light-background);
  animation: blink 1s infinite;
  margin-left: 5px;
}

@keyframes blink {
  0%,
  100% {
    background: var(--light-background);
  }
  50% {
    background: transparent;
  }
}

.btn-contact {
  background-color: var(--primary);
  color: var(--light-background);
}

.btn-contact:hover {
  background-color: var(--light-blue);
}

.scroll-down-arrow {
  position: absolute;
  z-index: 3;
  bottom: 20px;
  left: 50%;
  margin-left: -16px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  
}

.hero-title {
  letter-spacing: 3px;
  background: var(--linear-gradient); /* Usa a variável de gradiente */
  -webkit-background-clip: text; /* Faz o gradiente aplicar ao texto */
  -webkit-text-fill-color: transparent; /* Torna o preenchimento do texto transparente */
  background-clip: text; /* Para navegadores que não suportam o prefixo */
}

.btn-primary {
  background-color: var(--primary);
  color: var(--light-background);
  border-radius: 0;
  border: none;
  transition: transform 0.3s ease;
}

.btn-primary:hover {
  background-color: var(--primary);
  transform: scale(1.1);
  box-shadow: 0 4px 15px var(--primary);
}

.textura-overlay {
  position: absolute;
  top: -20px; /* Ajuste conforme necessário */
  left: 0px; /* Ajuste conforme necessário */
  z-index: 1; /* Certifique-se de que fique acima do gradiente */
  opacity: 0.9; /* Ajuste conforme necessário */
  pointer-events: none;
}

.btn-gradient {
  color: white;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  border-radius: 0px;
  background: linear-gradient(to left, var(--secondary), var(--accent));
  cursor: pointer;
  transition: transform 0.3s ease;
}
.btn-gradient::before {
  content: "";
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 0px;
  background-color: var(--dark-background);
  z-index: -1;
  transition: 200ms;
}
.btn-gradient::after {
  content: attr(data);
  font-size: 16px;
  background: linear-gradient(to left, var(--secondary), var(--accent));
  -webkit-background-clip: text;
  color: transparent;
  transition: 200ms;
}

.btn-gradient:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(255, 136, 143, 0.05),
    0 4px 25px rgba(60, 109, 217, 0.05);
}

#about {
  min-height: 100vh;
  display: flex;
  justify-content: center; /* Alinha o conteúdo horizontalmente ao centro */
  align-items: center; /* Alinha o conteúdo verticalmente ao centro */
  margin-top: 100px; /* Cria espaço entre a seta e a próxima seção */
  padding: 60px 0;
}

#about p.lead {
  text-align: justify; /* Justifica o texto */
}

#about .list-group-item {
  background-color: transparent; /* Torna o fundo da lista transparente */
  color: white; /* Define a cor do texto como branco */
  font-size: 1.2rem; /* Aumenta o tamanho da fonte */
  border-bottom: 1px solid rgba(250, 250, 250, 0.12);
  padding: 12px 0px; /* Adiciona um preenchimento interno */
}

#about #mailto {
  background: var(--linear-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.divider {
  background: var(--linear-gradient);
  height: 2px;
  width: 80px;
  display: block;
}

.card_my_experience {
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 32px 16px;
}

.card_my_experience .card-date {
  background: #7543e3;
  color: var(--light-background);
  padding: 4px 8px;
  border-radius: 50px;
  display: inline-block; /* Ajusta o background ao conteúdo */
  box-shadow: 0 4px 30px var(--primary);
}

.card_my_experience .card-title {
  color: var(--primary);
  font-size: 32px;
  font-weight: bolder;
}

.card_my_experience .card-text {
  color: #c5c8ec;
}

.featured-box {
  box-sizing: border-box;
  position: relative;
  display: flex; 
  align-items: center; 
}

.featured-box-icon {
  height: 60px;
  width: 60px;
  font-size: 30px;
  text-align: center;
  color: var(--light-background);
  background-color: var(--primary);
  border-radius: 50%;
  box-shadow: 0 4px 15px var(--primary);
}

#contact .fab {
  color: var(--light-background); /* Ajuste a cor conforme seu design */
  transition: color 0.3s ease;
}

#contact {
  background-color: #131324;
  color: var(--light-background);
  padding: 50px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-top: 40px;
}

#contact .fab:hover {
  color: var(--primary); /* Cor ao passar o mouse sobre o ícone */
}


footer{
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#what-i-do {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-top: 100px; /* Cria espaço entre a seta e a próxima seção */
  padding: 60px 0;
}

.bg-purple {
  background-color: var(--primary); /* Fundo roxo */
  box-shadow: 0 4px 15px var(--primary); /* Sombra roxa */
}

.icon-box {
  border-radius: 50%; /* Deixa o ícone com um formato arredondado */
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo padrão para o header */
.hero-title {
  font-size: 2rem; /* Tamanho grande padrão para desktops */
}

.typing-container {
  font-size: 3rem; /* Tamanho padrão para animação de texto */
}

/* Botões */
.btn-lg {
  font-size: 1.25rem; /* Tamanho padrão dos botões */
  padding: 0.75rem 1.5rem; /* Tamanho padrão do padding dos botões */
}



/* Ajuste adicional para telas extra pequenas */
@media (max-width: 576px) {
  /* Diminui ainda mais o título e a animação de digitação */
  .hero-title {
    font-size: 1.75rem;
  }

  .typing-container {
    font-size: 1.25rem;
  }

  .btn-lg {
    font-size: 0.75rem; /* Diminui ainda mais o tamanho do texto dos botões */
    padding: 0.4rem 0.8rem; /* Reduz o padding dos botões */
    white-space: nowrap; /* Impede que o texto quebre em uma nova linha */
    display: flex; /* Alinha os botões horizontalmente */
    justify-content: center; /* Alinha os botões horizontalmente */
    align-items: center; /* Alinha os botões verticalmente */
  }
}

.portfolio-image {
  cursor: pointer;
  transition: transform 0.3s;
}

.portfolio-image:hover {
  transform: scale(1.05);
}

.modal-body img {
  width: 100%;
  height: auto;
}

.modal-content {
  background-color: #484963;
  color: #c5c8ec;
  text-align: justify;
}


.modal-header {
  border-bottom: none;
  padding: 50px;
  padding-bottom: 0;
  }

.modal-dialog{
  max-width: 800px;
}

.modal-title {
  color:white;
  font-size: 2rem;
  font-weight: bold;
}

.modal-body {
  padding: 50px;
  padding-top: 10px;
}


/* Ajuste para telas menores (móveis e tablets) */
@media (max-width: 768px) {
  /* Diminui o tamanho da fonte do título "Bem-vindo" */
  .hero-title {
    font-size: 1.5rem; /* Reduz o tamanho da fonte para telas menores */
  }

  /* Diminui o tamanho da fonte da animação de digitação */
  .typing-container {
    font-size: 2rem; /* Reduz o tamanho da fonte da animação de digitação */
  }

  .btn-lg {
    font-size: 0.875rem; /* Reduz o tamanho do texto dos botões */
    padding: 0.5rem 1rem; /* Reduz o padding dos botões */
    white-space: nowrap; /* Impede que o texto quebre em uma nova linha */
    display: flex; /* Alinha os botões horizontalmente */
    justify-content: center; /* Alinha os botões horizontalmente */
    align-items: center; /* Alinha os botões verticalmente */
  }

  .modal-title {
    font-size: 1.5rem;
  }
}

.my_icon {
  transition: transform 0.3s;
}

.my_icon:hover {
  transform: scale(1.1);
}
